@model SchoolOnlineExamination.Models.CreateRoleViewModel

<h1>Create Roles</h1>


<div class="col-md-4">
    
    <form method="post">
        
        <div asp-validation-summary="All" class="text-danger">
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-success">CreateRole</button>
        </div>

    </form>
</div>