@model SchoolOnlineExamination.Models.LoginViewModel
    <link href="~/css/Login.css" rel="stylesheet" />
    <body id="body">
        <div class="row">
            <div class="col-md-4" id="parent">
                <h1>Login Page</h1>

                <form method="post">
                    <div asp-validation-summary="All" class="text-danger">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-checkbox">
                                <label>
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn-success" id="login">Login</button>
                        <div>
                            <a asp-action="Forgot Password">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>